body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Roboto Mono', monospace;
    background-color: #1a1a1a;
    color: #f1f1f1;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.content-wrapper {
    display: flex;
    max-height: 100vh;
}

label {
    display: block;
    margin-top: 0.9rem;
    margin-bottom: 0.3rem;
    color: #f1f1f1;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 0.9em;
}

input, button {
    padding: 0.7rem 1.6rem;
    border: none;
    background-color: #1a1a1a;
    color: #f1f1f1;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 2rem;
    transition: background-color 0.3s, transform 0.3s; 
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 0.2rem solid #20232f;
    padding: 0.7rem 0;
    border-radius: 0;
    width: 100%;
    color: #f1f1f1;
    font-size: 0.9em;
    transition: border-color 0.3s;
}

input:focus {
    border-bottom-color: #f1f1f1;
    outline: none;
}

button {
    margin-top: 2rem;
    padding: 1rem;
    justify-content: center;
    width: 40%;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #333842;
}

.toolbar {
    flex-shrink: 0;
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    margin: 0 0 0 0;
    align-items: center;
    background-color: #1d1d1d;
}

#start {
    background-color: #a8ff78; 
}

.run-icon {
    display: inline-block; 
    background-image: url('run-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;  
    height: 24px; 
    vertical-align: middle;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.toolbar .title {
    font-size: 2em;             
    text-align: center;
    margin-top: 3rem;        
    font-weight: bold;
}

.toolbar .menu {
    margin-top: 2rem;
}

#boardWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: calc(100vw - 25vw);
}

#board {
    min-width: 96vh; 
    min-height: 96vh;
    max-width: 96vh; 
    max-height: 96vh;
    align-items: center;
    display: grid;
    gap: 0;
}

#progressContainer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1d1d1d;
    height: 2vh;
    width: 100%;
    z-index: 2;
}

#progressBar {
    display: block;
    background-color: #f1f1f1;
    height: 100%;
    width: 0%;
}


.cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background-color: #20232a;
}

.black {
    background-color: #333842;
}

.queen::before {
    content: "";
    display: block;
    width: 70%;
    height: 70%;
    background-image: url('queen-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: invert(1);
    position: relative;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        overflow: visible;
        height: auto;
    }

    .main-wrapper {
        height: 100vh;
        margin: 0;
        width: 100vw;
    }
    
    .toolbar {
        width: 100vw;
        max-height: 100vh;
        overflow-y: auto;
        padding: 0;
        position: relative;
    }

    .content-wrapper {
        flex-direction: column;
        width: 100vw; /* Garantir que ocupe toda a largura */
    }

    #boardWrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        width: 100vw;
        z-index: 1;
    }

    #board {
        width: calc(100vw - 2vh);
        height: calc(100vw - 2vh);
        min-width: calc(100vw - 2vh);
        min-height: calc(100vw - 2vh);
        max-width: calc(100vw - 2vh);
        max-height: calc(100vw - 2vh);
        margin-bottom: 2vh;
    }
}






